*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    margin-top: 217px;
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree';
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    max-width: 380px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 8px 8px 0px hsl(0, 0%, 7%);
    padding: 22px 22px 23px 23px; 
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 20px;
}

.img{
    margin-bottom: 24px;
}

.img img{
    display: block;
    max-width: 100%;
    border-radius: 10px;
}

.dataLearning{
    padding: 6px 13px 6px 12px;
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    color: hsl(0, 0%, 7%);
    font-size: 14px;
    font-weight: 800;
    text-shadow: 0px 0px 1px hsl(0, 0%, 7%);
}

.dataPublished{
    display: inline-block;
    margin-top: 14px;
    color: hsl(0, 0%, 7%);
    font-size: 14px;
    font-weight: 500;
}

.tittle h1{
    margin-top: 17px;
    font-size: 24px;
    font-weight: 800;
}

.tittle p{
    color: hsl(0, 0%, 50%);
    font-weight: 500;
    line-height: 1.5;
    margin-top: 17px;
}

.profile{
    display: flex;
    align-items: center;
    margin-top: 22px;
}

.profile img{
    display: block;
    width: 31px;
    height: auto;
}

.profile span{
    display: inline-block;
    margin-left: 12px;
    color: hsl(0, 0%, 7%);
    font-size: 14px;
    font-weight: 800;
}

.attribution{
    position: absolute;
    bottom: 0;
    right: 0;
}